<h1 style="text-align: center;">Covid Data</h1>

Use death or survivurs for pie chart

Use different state data for historgram

Also Get data from live and add it to the main data to fet full list. Call other lists past data.

In [10]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))
HTML('<style>{}</style>'.format('.output {align-items: center;}'))

<h2 style="text-align: center;">Import And Trim</h2>

<h3 style="text-align: center;">Getting Live Covid Data</h3>

<p style="text-align: center;">Past data has data form all days other than today. Live data only had data from today.</p>

In [1]:
def get_file_read():
    url_to_file = requests.get(us_data_link).content
    us_data = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

In [24]:
import pandas as pd
import io, requests

us_data_link_past = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us.csv'
url_to_file = requests.get(us_data_link_past).content
us_data_past = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_states_data_link_past = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv'
url_to_file = requests.get(us_states_data_link_past).content
us_states_data_past = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_counties_data_link_past = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
url_to_file = requests.get(us_counties_data_link_past).content
us_counties_data_past = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))


us_data_link_today = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us.csv'
url_to_file = requests.get(us_data_link_today).content
us_data_today = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_states_data_link_today = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-states.csv'
url_to_file = requests.get(us_states_data_link_today).content
us_data_states_today = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_counties_data_link_today = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-counties.csv'
url_to_file = requests.get(us_counties_data_link_today).content
us_data_counties_today = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

display(us_data_past[-5:])

           date     cases  deaths
817  2022-04-17  80534999  987228
818  2022-04-18  80595074  987545
819  2022-04-19  80645527  987999
820  2022-04-20  80708425  988610
821  2022-04-21  80767519  989094

<p style="text-align: center;">The following code add all the data from the today and past dataset to get a live dataset.</p>

In [64]:
us_data = pd.merge(us_data_past, us_data_today, how='outer')
us_states_data = pd.merge(us_states_data_past, us_data_states_today, how='outer')
us_counties_data = pd.merge(us_counties_data_past, us_data_counties_today, how='outer')
display(us_data[-5:])

,date,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
818,2022-04-18,80595074,987545,NaN,NaN,NaN,NaN
819,2022-04-19,80645527,987999,NaN,NaN,NaN,NaN
820,2022-04-20,80708425,988610,NaN,NaN,NaN,NaN
821,2022-04-21,80767519,989094,NaN,NaN,NaN,NaN
822,2022-04-22,80782981,989137,NaN,NaN,NaN,NaN

           date    cases  deaths
100  2020-04-30  1075756   63140
101  2020-05-01  1109726   64902
102  2020-05-02  1139200   66485
103  2020-05-03  1165340   67816
104  2020-05-04  1187302   68905
..          ...      ...     ...
195  2020-08-03  4726775  155945
196  2020-08-04  4780324  157301
197  2020-08-05  4834047  158554
198  2020-08-06  4891561  159625
199  2020-08-07  4952718  160981

[100 rows x 3 columns]

<h4 style="text-align: center;">Question: What Is The State With The Most Deaths?</h4>