# Covid Data

Name: Charan Chandran

Date: 4/20/22

Source for Data Set: New York Times

URL for Data Set: https://github.com/nytimes/covid-19-data

Description of Data Set: Covid-19 Data
* Please give a one-paragraph explanation of what this data set is and what it contains
* Your data set must be notably different than our in-class example (no salary data, for example)
* You must pick a different data set than your neighbors and your friends in the class

File Format for Data Set: .csv\
Last Updated: 4/27/22

Use death or survivurs for histogram

Use different state data for pie graph
create a lien graph using dates and deathes and cases oveer time
create a bar graph with   v
histogram with caszes to death


extra: have a histogram of dates and how much more cases each day create new coloumn for it.

Also Get data from live and add it to the main data to fet full list. Call other lists past data.

In [8]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))
HTML('<style>{}</style>'.format('.output {align-items: center;}'))

## Import And Trim

### Getting Live Covid Data As Pandas Data Frame

In [10]:
import pandas as pd
import io, requests

#Past data has data form all days other than today. Live data only had data from today.

#I took the data from the website and put it into a dataframe.
us_data_link_past = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us.csv'
url_to_file = requests.get(us_data_link_past).content
us_data_past = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_states_data_link_past = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv'
url_to_file = requests.get(us_states_data_link_past).content
us_states_data_past = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_counties_data_link_past = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
url_to_file = requests.get(us_counties_data_link_past).content
us_counties_data_past = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))


us_data_link_today = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us.csv'
url_to_file = requests.get(us_data_link_today).content
us_data_today = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_states_data_link_today = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-states.csv'
url_to_file = requests.get(us_states_data_link_today).content
us_data_states_today = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_counties_data_link_today = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-counties.csv'
url_to_file = requests.get(us_counties_data_link_today).content
us_data_counties_today = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

display(us_data_past[:10])

         date  cases  deaths
0  2020-01-21      1       0
1  2020-01-22      1       0
2  2020-01-23      1       0
3  2020-01-24      2       0
4  2020-01-25      3       0
5  2020-01-26      5       0
6  2020-01-27      5       0
7  2020-01-28      5       0
8  2020-01-29      5       0
9  2020-01-30      6       0

In [12]:
#The following code adds all the data from the today and the past dataset to get a live dataset.
us_data = pd.merge(us_data_past, us_data_today, how='outer')
us_states_data = pd.merge(us_states_data_past, us_data_states_today, how='outer')
us_counties_data = pd.merge(us_counties_data_past, us_data_counties_today, how='outer')
display(us_data[:10])

,date,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-01-21,1,0,NaN,NaN,NaN,NaN
1,2020-01-22,1,0,NaN,NaN,NaN,NaN
2,2020-01-23,1,0,NaN,NaN,NaN,NaN
3,2020-01-24,2,0,NaN,NaN,NaN,NaN
4,2020-01-25,3,0,NaN,NaN,NaN,NaN
5,2020-01-26,5,0,NaN,NaN,NaN,NaN
6,2020-01-27,5,0,NaN,NaN,NaN,NaN
7,2020-01-28,5,0,NaN,NaN,NaN,NaN
8,2020-01-29,5,0,NaN,NaN,NaN,NaN
9,2020-01-30,6,0,NaN,NaN,NaN,NaN

<h4 style="text-align: center;">Question: What Is The State With The Most Deaths?</h4>