# Covid Data

Name: Charan Chandran

Date: 4/20/22

Source for Data Set: New York Times

URL for Data Set: https://github.com/nytimes/covid-19-data

Description of Data Set: Covid-19 Data
* Please give a one-paragraph explanation of what this data set is and what it contains
* Your data set must be notably different than our in-class example (no salary data, for example)
* You must pick a different data set than your neighbors and your friends in the class

File Format for Data Set: .csv

Last Updated: 4/27/22

In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))
HTML('<style>{}</style>'.format('.output {align-items: center;}'))

# Part 1: Import and Trim Data (12 points)
* Import file as a pandas dataframe
* Display size of data
* Create a numerical pandas series
* Convert series data type to floating point numbers
* Convert series to a numpy array, remove 'NaN' entries
* Compute three common statistics

### Import file as a pandas data frame
* Store in an appropriately-named variable
* Show the first 10 entries:
    * This is a good way for you to see if your modification was successful and to see what the data looks like in your data set.

In [3]:
import pandas as pd
import io, requests

#Past data has data form all days other than today. Live data only had data from today.

#I took the data from the website and put it into a dataframe.
us_data_link_past = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us.csv'
url_to_file = requests.get(us_data_link_past).content
us_data_past = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_states_data_link_past = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv'
url_to_file = requests.get(us_states_data_link_past).content
us_states_data_past = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_counties_data_link_past = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
url_to_file = requests.get(us_counties_data_link_past).content
us_counties_data_past = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))


us_data_link_today = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us.csv'
url_to_file = requests.get(us_data_link_today).content
us_data_today = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_states_data_link_today = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-states.csv'
url_to_file = requests.get(us_states_data_link_today).content
us_data_states_today = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_counties_data_link_today = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-counties.csv'
url_to_file = requests.get(us_counties_data_link_today).content
us_data_counties_today = pd.read_csv(io.StringIO(url_to_file.decode('utf-8')))

us_data_past[:10]

         date  cases  deaths
0  2020-01-21      1       0
1  2020-01-22      1       0
2  2020-01-23      1       0
3  2020-01-24      2       0
4  2020-01-25      3       0
5  2020-01-26      5       0
6  2020-01-27      5       0
7  2020-01-28      5       0
8  2020-01-29      5       0
9  2020-01-30      6       0

In [4]:
#The following code adds all the data from the today and the past dataset to get a live dataset.
us_data = pd.merge(us_data_past, us_data_today, how='outer')
us_states_data = pd.merge(us_states_data_past, us_data_states_today, how='outer')
us_counties_data = pd.merge(us_counties_data_past, us_data_counties_today, how='outer')
us_data[:10]

,date,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-01-21,1,0,NaN,NaN,NaN,NaN
1,2020-01-22,1,0,NaN,NaN,NaN,NaN
2,2020-01-23,1,0,NaN,NaN,NaN,NaN
3,2020-01-24,2,0,NaN,NaN,NaN,NaN
4,2020-01-25,3,0,NaN,NaN,NaN,NaN
5,2020-01-26,5,0,NaN,NaN,NaN,NaN
6,2020-01-27,5,0,NaN,NaN,NaN,NaN
7,2020-01-28,5,0,NaN,NaN,NaN,NaN
8,2020-01-29,5,0,NaN,NaN,NaN,NaN
9,2020-01-30,6,0,NaN,NaN,NaN,NaN

### Display size of data

In [5]:
# Print the length of the dataframe
len(us_data)

832

### Create a numerical pandas series
* REMINDER: A panda series is similar to a standard list, but works specifically with pandas list of functions
* Locate a numerical column of interest in your pandas data frame
* Store all values from that column in an appropriately-named variable
* Show the first ten entries
    * This is a good way for you to see if your modification was successful and to see what the data looks like

In [6]:
# Store all values from the "cases" column to cases_list
cases_list = us_data['cases']
print('Case List')
print(cases_list[:10])
# Store all values from the "deaths" column to death_list
death_list = us_data['deaths']
print('Death List')
print(death_list[:10])

Case List
0    1
1    1
2    1
3    2
4    3
5    5
6    5
7    5
8    5
9    6
Name: cases, dtype: int64
Death List
0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: deaths, dtype: int64

### Convert series data type to floating point numbers
* Modify your data appropriately so that your array holds only decimals
    * Replace all special characters ('$', '%', '#', etc.)
    * Convert all entries to floating point numbers
* Show the first 10 entries
    * This is a good way for you to see if your modification was successful and to see what the data looks like

In [28]:
# Convert to floating point number
cases_list = cases_list.astype(float)
print(cases_list[:10])
death_list = death_list.astype(float)
print(death_list[:10])

0    1.0
1    1.0
2    1.0
3    2.0
4    3.0
5    5.0
6    5.0
7    5.0
8    5.0
9    6.0
Name: cases, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: deaths, dtype: float64

In [29]:
del us_data['cases']
us_data['cases'] = cases_list
del us_data['deaths']
us_data['deaths'] = death_list
us_data[:10]

,date,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths,cases,deaths
0,2020-01-21,NaN,NaN,NaN,NaN,1.0,0.0
1,2020-01-22,NaN,NaN,NaN,NaN,1.0,0.0
2,2020-01-23,NaN,NaN,NaN,NaN,1.0,0.0
3,2020-01-24,NaN,NaN,NaN,NaN,2.0,0.0
4,2020-01-25,NaN,NaN,NaN,NaN,3.0,0.0
5,2020-01-26,NaN,NaN,NaN,NaN,5.0,0.0
6,2020-01-27,NaN,NaN,NaN,NaN,5.0,0.0
7,2020-01-28,NaN,NaN,NaN,NaN,5.0,0.0
8,2020-01-29,NaN,NaN,NaN,NaN,5.0,0.0
9,2020-01-30,NaN,NaN,NaN,NaN,6.0,0.0

### Convert series to a numpy array, remove 'NaN' entries
* Convert your pandas series to a numpy array with an appr
* Remove all 'NaN' entries (if applicable)
* Show the first 30 entries
    * This is a good way for you to see if your modification was successful and to see what the data looks like

In [32]:
import numpy as np
# Convert data to numpy array
cases_list = np.array(cases_list)
death_list = np.array(death_list)
print(cases_list[:10])
print(death_list[:10])
# No NaN Entries

[1. 1. 1. 2. 3. 5. 5. 5. 5. 6.]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

### Compute three common statistics
* Using your numpy array, calculate various common statistics
    * Mean
    * Median
    * Mode
    * Standard deviation
    * Sums
    * Etc.
* Indicate which statistic is being calculated in the markdown cell above the code cell

##### USE THIS CELL TO DESCRIBE THE STATISTIC COMPUTED HERE. INCLUDE AT LEAST ONE COMPLETE SENTENCE

In [33]:
# Average death over time
print(death_list.mean())

460600.72716346156

##### USE THIS CELL TO DESCRIBE THE STATISTIC COMPUTED HERE. INCLUDE AT LEAST ONE COMPLETE SENTENCE

In [10]:
# To earn points, you must comment your code

##### USE THIS CELL TO DESCRIBE THE STATISTIC COMPUTED HERE. INCLUDE AT LEAST ONE COMPLETE SENTENCE

In [11]:
# To earn points, you must comment your code

# Part 2: Create a Histogram (12 points)
* WARNING: DO NOT COPY/PASTE ENTIRE GRAPH CODE ALL AT ONCE
    * Use code line-by-line to ensure all values are changed to reflect the ones in this notebook!
* REMINDER: Histograms display frequencies of data values grouped together in chosen ranges
    * Think - what list is storing the required data?
        * Should be a numpy array of numbers
    * Think - how will you divide up the data into bins
        * What is the minimum value?
        * What is the maximum value?
        * What should the size of each bin be?
            * What numbers should each bin start/stop at?
        * Which alignment will you use?     
* Create frequency bins
* Set graph details
* Create and display graph

### Create frequency bins and alignment
* Create and store a list of 'edge numbers' for your bins in an appropriately-named variable
    * Your data should fit between the lowest and highest values
    * Use a loop to help create bins quickly

In [12]:
# To earn points, you must comment your code

### Set graph details
* Import matplotlib appropriately
* Your graph should be styled uniquely compared to any previously created, and must inlude:
    * Title
    * X-axis label
    * Y-axis label
    * Visually appealing style
    * Graph color not previously used

In [13]:
# To earn points, you must comment your code

### Create and display graph
* HISTOGRAM SYNTAX: plot.hist(data_array, bins_array, extras...)

In [14]:
# To earn points, you must comment your code

# Part 3: Modifying Data Using Counts (12 points)
* Create a pandas series of value counts
* Create two parallel lists

### Create a pandas series of value counts
* Locate a non-numerical column of interest from your original pandas dataframe
    * You will be counting how many times each entry appears in the list
    * Your chosen column should:
        * Have mulptiple repeated entries
        * Have the ability to be grouped into categories
* Create and store a pandas series of value counts in an appropriately-named variable
* Show the series of counts
    * This is a good way for you to see if your modification was successful and to see what the data looks like

In [15]:
# To earn points, you must comment your code

### Create two parallel lists
* REMINDERS:
    * Use index.tolist() to extract only the category names
    * Use tolist() to extract only the statistic of interest
* Create a list of the category names from the value count panda series
    * Store in an appropriately-named variable
    * Ex: [POLICE, FIRE, OEMC, etc...]
* Create a list of the frequencies for each entry from the value count panda series
    * Store in an appropriately-named variable
    * Ex: [13061, 4837, 2120, etc...]
* Show each list individually
    * This is a good way for you to see if your modifications were successful and to see what the data looks like

In [16]:
# To earn points, you must comment your code

# Part 4: Create a Pie Chart (12 points)
* WARNING: DO NOT COPY/PASTE ENTIRE GRAPH CODE ALL AT ONCE
    * Use code line-by-line to ensure all values are changed to reflect the ones in this notebook!
* REMINDER: Pie charts display the ratio of values in comparison to the whole
    * Think - Which lists are storing the required data?
        * One list of counts
        * One list of labels
* NOTE: If you have 9 or more categories you should create an "Other" category to earn full credit!
* Create an "Other" category (if necessary)
* Set graph details
* Create and display graph

### Create an "Other" category (if necessary)
* If you have 9 or more categories, lump the remainging categories as one "Other" category
* All labels should be clearly visible

In [17]:
# To earn points, you must comment your code

### Set graph details
* Import matplotlib appropriately
* Your graph should be styled uniquely compared to any previously created, and must inlude:
    * Title
    * Appropriate labels
    * Visually appealing style
    * Graph color not previously used

In [18]:
# To earn points, you must comment your code

### Create and display graph
* PIE CHART SYNTAX: plot.pie(counts_list, labels_list, extras...)

In [19]:
# To earn points, you must comment your code

# Part 5: Be a Data Scientist! (24 points)
* Create an additional question
* Create an appropriate pandas series
* Split into individual lists
* Create list of sorted tuples
* Split into individual sorted lists

### Create an additional question
* How else can your categories be compared?
* What additional number can your categories be compared by?
    * Ex: Which category has largest/smallest...
        * ...average?
        * ...maximum?
        * ...minimum?
        * ...standard deviation?
* State your question relative to the data you are working with

## Question: INSERT QUESTION HERE

### Create an appropriate pandas series
* REMINDER: Use .groupby() to organize your series based on another column's data

In [20]:
# To earn points, you must comment your code

### Split into individual lists
* Create two parallel lists 
    * One list of categories
    * One list of statistics of interest
* Show each list individually
    * This is a good way for you to see if your modifications were successful and to see what the data looks like

In [21]:
# To earn points, you must comment your code

### Create list of sorted tuples
* Loop through parallel lists to create tuples in the form (category, statistic)
* Sort appropriately
    * REMINDER: Use list_name.sort(key=lambda x: x[1], reverse=True) to sort
* Show the list
    * This is a good way for you to see if your modifications were successful and to see what the data looks like

In [22]:
# To earn points, you must comment your code

### Split into individual sorted lists
* Option #1
    * List iterator
    * list_name = ['specific stat' for 'entry' in 'name of array']
    * Read as: A list of every 'specific stat' for every 'entry' in the array 'name of array'
* Option #2
    * Loops
    * Create an empty list
    * Run a loop that:
        * Stores each appropriate category and statistic
        * Converts them to a tuple
        * Adds the tuple to the list
* Show the list
    * This is a good way for you to see if your modifications were successful and to see what the data looks like

In [23]:
# To earn points, you must comment your code

# Part 6: Create a Bar Chart to Visualize Data (12 points)
* WARNING: DO NOT COPY/PASTE ENTIRE GRAPH CODE ALL AT ONCE
    * Use code line-by-line to ensure all values are changed to reflect the ones in this notebook!
* REMINDER: Bar charts displays one item's value compared to others'
    * Think - which lists are holding the required data?
        * One list of 'bar positions'
        * One list of statistics of interest
        * One list of labels
* Create a 'bar position list'
* Set graph details
* Create and display graph

### Create a 'bar position list'
* REMINDER: Use np.arange(start, length+1)

In [24]:
# To earn points, you must comment your code

## Set graph details
* Import matplotlib appropriately
* Your graph should be styled uniquely compared to any previously created, and must inlude:
    * Title
    * X-axis label
    * Y-axis label
    * Bar labels (xticks)
    * Visually appealing style
    * Graph color not previously used

In [25]:
# To earn points, you must comment your code

### Create and display graph
* BAR GRAPH SYNTAX: plot.bar(bars_list, stat_list, etc.)

In [26]:
# To earn points, you must comment your code

# Part 7: Answer (12 points)

### Answer the original question at hand
* Your response must:
    * Clearly state a data-based answer
    * Contain a brief summary of how the data was organized and compared
    * Describe how your visualization helps verify the stated answer

## Answer: INSERT YOUR ANSWER HERE. WRITE IN COMPLETE SENTENCES.

# Part 8: Reflection (4 points)

### What do you think are some of the limitations of your analysis?
* Was there additional data that you would've liked to have used if it were available?
* Did time limit you from answering a different interesting question?
* Is there anything you would have liked to have dug into deeper?
* Provide a thoughtful, well-written response

## Answer: INSERT YOUR ANSWER HERE. WRITE IN COMPLETE SENTENCES.