# Open Data Example #1: City of Chicago Salaries

*Source for Data Set:* City of Chicago Department of Human Resources

*URL for Data Set:* https://data.cityofchicago.org/Administration-Finance/Current-Employee-Names-Salaries-and-Position-Title/xzkq-xp2w

*Description of Data Set:* "This dataset is a listing of all current City of Chicago employees, complete with full names, departments, positions, and annual salaries. For hourly employees the annual salary is estimated." (Description written by City of Chicago) 

*File Format for Data Set:* CSV file (Comma Separated Values)

*Age of Data Set:* Last updated January 21, 2021

### Import CSV File

In [1]:
# Import pandas module
import pandas as pd

# Read in the csv file (comma separated values)
salary_DF = pd.read_csv("Salaries_2022.csv")

# Print the last three entries of the file
    # The last line of a cell will print automatically!
    # Can sometimes display data differently
salary_DF[-3:]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
31098,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,102372.0,NaN
31099,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,109236.0,NaN
31100,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DAIS,F,Salary,NaN,142176.0,NaN

Sometimes, the last entry (or the last few entries) in a dataset may be erroneous. Use code similar to below to eliminate them.

    salary_DF = salary_DF.drop(salary_DF.index[-1])

*Note: This doesn't appear to be a problem with the 2022 version of this dataset, so you are unlikely to need to run the above code*

In [2]:
# Use this cell to run the code above (if needed)

# Note: Only run this code if your teacher says you need it

### Question: How many employees are paid by the City of Chicago?

In [3]:
# Print the length of the data frame
len(salary_DF)

31101

**Your Answer:** *Write a complete sentence that answers the question here.*

### Modify Data: Create a List of Salaries

In [10]:
# Store all values from the "Annual Salary" column
salary_list = salary_DF["Annual Salary"]
# Print the first 3 entries
salary_list[:5]

0    122568.0
1    110796.0
2    122112.0
3         NaN
4     86730.0
Name: Annual Salary, dtype: float64

### Modify Data to be Usable

Step 0: If you have data with dollar signs, we would need to delete these symbols. This year's spreadsheet doesn't have any dollar signs, so we don't need to worry about this. But in previous years, we had to replace dollar signs with empty strings. In your own data projects, you'll want to check if this step is necessary. 

Step 1: Clean data by deleting dollar signs, '$', from the salaries and replace any empty strings with a salary of '0.00' dollars per year.

Step 2: Create a list with only salaries, converted from strings to floating point numbers. For example, the string '84450.0' becomes the floating point number 84450.0.

In [15]:
# This can delete '$' symbols if present before salaries
# salary_list = salary_list.str.replace("$","")

# Convert to floating point number
    # Empty cells --> 0.00
salary_list = salary_list.astype(float)
    
# Print the last 4 entries
salary_list[:5]
#maybe pd.to_numeric(s)
salary_list = salary_list.fillna(0.0)

salary_list[:5]

0    122568.0
1    110796.0
2    122112.0
3         0.0
4     86730.0
Name: Annual Salary, dtype: float64

It might come in handy later to have our salaries as floating point numbers. Let's replace the old column in our dataframe (string data) and replace it with our new one (floating point numbers):

In [ ]:
# Delete the ORIGINAL data in "Annual Salary" column

# Replace with our NEW data

# Print first 10 entries

### Modify Data: Convert to a Numpy Number Array

In [ ]:
# Import numpy

# Convert data to a numpy array

# Print the last 30 values

Look closely at this output, and you'll spot a problem: 

Some of our values are listed as "nan" or "not a number." If we are going to do some mathematical calculations with this data, we're going to need to clean the data by removing all instances of "nan." 

_Note: There may be several reasons why the dataset contains "nan" values. In some cases, an employee's salary data might be missing, there may have been a data entry error, an employee may have gone unpaid for a year because of an extended leave, or the employee may be working on a volunteer basis. Since there's no way to know how to interpret these values, it is best for us to do some data cleaning and remove them._

In [ ]:
# Import numpy as np

# Eliminate the NaN entries
    # the ~ symbol is interpreted by numpy as "not"

# Print the last 30 entries

### Question: What is the average salary for city employees?

In [ ]:
# Calculate the average

**Your Answer:** *Write a complete sentence that answers the question here.*

### Question: What is the median salary for city employees?

In [ ]:
# Find the median value

**Your Answer:** *Write a complete sentence that answers the question here.*

**Task:** Use this cell to explain what the *median* of a dataset is.

**Answer:** *Write a complete sentence that answers the question here.*

### Question: What is the number of city employees?

In [ ]:
# Find the length of the array

**Your Answer:** *Write a complete sentence that answers the question here.*

### Question: What is the standard deviation of city employee salaries?

In [ ]:
# Find the standard deviation

**Your Answer:** *Write a complete sentence that answers the question here.*

**Task:** Use this cell to explain what the *standard deviation* of a dataset is.

**Your Answer:** *Write a complete sentence that answers the question here.*

### Question: What is the highest salary among city employees?

In [ ]:
# Find the max value

**Your Answer:** *Write a complete sentence that answers the question here.*

### Question: The highest paid employee of the City of Chicago makes approximately $275,000 a year. Who is it?

In [ ]:
# Sort the array in ascending order

# Print first entry only

**Your Answer:** *Write a complete sentence that answers the question here.*

### Question: Who earns the top 10 salaries in the City of Chicago?

In [ ]:
# Print the first 10 entries of the sorted array

**Your Answer:** *Write a complete sentence that addresses the question here. It is okay to refer the reader to the table, since it might be time consuming to list out a long list of 10 people and their job titles here.*

### Visualization: Histogram of Salaries

In [ ]:
# Import matplotlib
import matplotlib.pyplot as plot
%matplotlib inline

# Create bins array
bins = []
for i in range(18):
    bin = i * 10000
    bins.append(bin)
    
# Graph style
plot.style.use("ggplot")
plot.figure(figsize=(10,5))
plot.xlim([0,180000])

# Create title and lables
plot.title("City of Chicago Employees: Frequency of Salaries")
plot.xlabel("Salary (in Dollars)")
plot.ylabel("Frequency")

# Create histogram
plot.hist(salary_array, bins, align="left", color="lightgreen", edgecolor="black")
plot.show()

### Question: How many employees per department in the City of Chicago?

In [ ]:
# Count the number of entries from each department

**Your Answer:** *Write a complete sentence that addresses the question here. It is okay to refer the reader to the table, since there are many departments in the City of Chicago.*

### Modify Data: Create a List of Departments and a List of Their Frequences

These two lists will be useful when plotting.

In [ ]:
# Create department names list

# Create frequency list

# Print

### Visualization: Pie Chart of Employees by Department

Note: This pie chart has too many slices! We will need to fix it:

In [ ]:
# Import matplotlib
import matplotlib.pyplot as plot
%matplotlib inline

# Create labels and data array
labels = department_names
data = department_counts

# Graph pie chart
plot.pie(data, labels=labels, autopct="%1.1f%%", shadow=True)
plot.title("Employees by Department")
#plot.legend(title="Legend", loc="lower left")
plot.axis("equal")
plot.show

### Modify Data: If a Department is Not In the Top 10, Lump as 'Other'

In [ ]:
# Make new list of largest 10 names, add "OTHER"

# Make new list of largets 10 counts, add sum of remaining

# Print two lists

### Visualization: Pie Chart of Number of Employees by Department (Fixed)

In [ ]:
# Import matplotlib
import matplotlib.pyplot as plot
%matplotlib inline

# Graph details
plot.figure(figsize=(10,10))
plot.title("Number of Employees by Department")
plot.style.use("ggplot")
colors_array = ["lightblue", "red", "brown", "orange", "blue", "green", "yellow", "pink", "lightgreen", "cyan", "lightgray"]

# Create pie chart
    # plot.pie(data array, labels array, color array, percentages, shadow)
plot.pie(shortened_counts, labels=shortened_names, colors=colors_array, autopct="%1.1f%%", shadow=True)
#plot.legend(title="Legend), loc="lower_left")
plot.show()

### Question: What is the mean (average) salary in each department in the City of Chicago?

In [ ]:
# Group each department

**Your Answer:** *Write a complete sentence that addresses the question here.*

### Modify Data: Create a List of Departments and a List of Their Average Annual Salaries

These two lists will be useful when plotting.

In [ ]:
# Array of department names sorted by the average salary

# Array of salaries sorted by department

# Print

### Visualization: Bar Chart of Average Annual Salary by Department
#### Sorted by Departement Name

In [ ]:
# Import matplotlib
import matplotlib.pyplot as plot
%matplotlib inline

# Graph details
plot.style.use("ggplot")
plot.figure(figsize=(10,5))
plot.title("City of Chicago Employees: Average Annual Salary by Department")
plot.xlabel("Department")
plot.ylabel("Annual Salary")

length = len(dept_names_avg)
bar_pos = np.arange(1, length+1)  # numpy array of numbers [1-36]
plot.xticks(bar_pos, dept_names_avg, rotation=90)
width = 0.9

# Bar graph
plot.bar(bar_pos, dept_avg, width, color="#009999")
plot.show()

### Modify Data: Merge Our Two Lists Into a List of Tuples, Then Sort

By sorting, we can get a nicer plot.

In [ ]:
# List of tuples in the form (names, average salary)

# Sort the list in reverse

# Print

### Visualization: Another Bar Chart of Average Annual Salary by Department 

#### Sorted by Average Annual Salary

In [ ]:
# Import matplotlib and numpy
import matplotlib.pyplot as plot
%matplotlib inline
import numpy as np

# Graph details
plot.style.use("ggplot")  #fivethirty eight, bmh; grayscale, dark_background, ggplot
plot.figure(figsize=(10,5))
plot.title('City of Chicago Employees: Average Annual Salary by Department')
plot.ylabel('Annual Salary')
plot.xlabel('Department')

# Create lists of sorted departements and total sums
x_data = [tuple[0] for tuple in sorted_average_list]
y_data = [tuple[1] for tuple in sorted_average_list]

length = len(sorted_average_list)
bar_pos = np.arange(1, length+1)  # numpy array of numbers [1-36]
plot.xticks(bar_pos, x_data, rotation=90)
width = 0.9

plot.bar(bar_pos, y_data, width, color="gray")
plot.show()

**Task:** Explain what this code is doing: 
        
        x_data = [tuple[0] for tuple in sorted_average_list]

You can use this link as a resource for your explanation: 
https://www.pythonforbeginners.com/basics/list-comprehensions-in-python

**Your Answer:** *Write a complete sentence that addresses the question here.*

### Question: What is the total salary expenditure in each department in the City of Chicago?

In [ ]:
# List of each departments total salary spending

**Your Answer:** *Write a complete sentence that addresses the question here. It is okay to refer the reader to the table, since it might be time consuming to list out every department in the City of Chicago.*

### Modify Data: Create a Sorted List of Tuples

In [ ]:
# List of department names

# List of department total salary spending

# Create list a tuples in form (department name, department total salary spending)
    # 'zip' binds two parallel arrays into tuples

# Sort the list by total sums, in reverse

### Visualization: Bar Chart of Total Annual Salary Expenditure by Department 

#### Sorted by Total Expenditure
* y-axis expressed in billions of dollars (1 x 10^9 or 1e9)

In [ ]:
# Import matplotlib and numpy
import matplotlib.pyplot as plot
%matplotlib inline
import numpy as np

# Graph details
plot.style.use("ggplot")  #fivethirty eight, bmh; grayscale, dark_background, ggplot
plot.figure(figsize=(10,5))
plot.title('Total Annual Salary Expenditure by Department')
plot.ylabel('Total Annual Salary Expenditure')
plot.xlabel('Department')

# Create lists of sorted departements and total sums
x_data = [tuple[0] for tuple in sorted_sum_list]
y_data = [tuple[1] for tuple in sorted_sum_list]

length = len(sorted_sum_list)
bar_pos = np.arange(1, length+1)  # numpy array of numbers [1-36]
plot.xticks(bar_pos, x_data, rotation=90)
width = 0.9

# Bar graph
plot.bar(bar_pos, y_data, width, color="tan")

plot.show()

# Open Data Example #2: School District Revenue and Enrollment

*Source for Data Set:* The United States Census Bureau (via data.gov)

*URL for Data Set:* https://www.census.gov/data/tables/2019/econ/school-finances/secondary-education-finance.html

*Note:* You should get this dataset from Schoology, not the URL. The Schoology file has been cleaned to remove outliers (for example, districts with 0 students or 0 revenue).

*Description of Data Set:* This data has school enrollment versus total revenue for every school district in the United States in 2015 (the most recent data available).

*File Format for Data Set:* CSV file (Comma Separated Values)

*Age of Data Set:* 10/8/2021, accessed 4/5/2022

Read in the data:

In [ ]:
# Import pandas

# Read the csv file (comma separated values)

# Print last three entries

Now plot:

In [ ]:
# Import matplotlib
import matplotlib.pyplot as plot
%matplotlib inline

#enrollmentDF.plot(kind='scatter', x='Enrollment', y='Total Revenue');

# Graph details
plot.style.use("ggplot")  #fivethirty eight, bmh; grayscale, dark_background, ggplot
plot.figure(figsize=(10,5))
plot.title('Enrollment vs Revenue in US School Districts')
plot.ylabel('Revenue')
plot.xlabel('Enrollment')

x_data = enrollment_DF["Total Enrollment"]
y_data = enrollment_DF["Total Revenue"]
plot.xlim([-20000,250000])
plot.ylim([-200000,4000000])

# Scatter plot
plot.scatter(x_data, y_data, color="#A035E8")


plot.show()

### Question: What seems to be the relationship between the number of students enrolled in a school district and the revenue of the district?

### Linear Regression
* Modeling the relationship between two variables using a linear equation (straight line)
* Equation for a line in slope-intercept form:
    * y = mx + b
        * m = slope
        * b = y-intercept

In [ ]:
# Import matplotlib and numpy
import matplotlib.pyplot as plot
%matplotlib inline
import numpy as np

# Graph details
plot.title('Enrollment vs Revenue in US School Districts')
plot.ylabel('Revenue')
plot.xlabel('Enrollment')

x_data = enrollment_DF["Total Enrollment"]
y_data = enrollment_DF["Total Revenue"]
plot.xlim([-20000,250000])
plot.ylim([-200000,4000000])

# Use np.polyfit to calculate the slope and y-intercept for the 'line of best fit'
m, b = np.polyfit(x_data, y_data, 1)

# Scatter Plot
    # plot.plot(variable, equation, line width, color)
plot.plot(x_data, m*x_data + b, linewidth=4, color="red")
plot.scatter(x_data, y_data, color="#F4F124")

plot.show()

**Your Answer:** *Write a complete sentence that addresses the question here. You might refer to what you see in the plot above.*

### Question: Explain the meaning of the code in the cell below. Then run it and interpret the resulting output.

In [ ]:
x0 = 125000
print(m*x0 + b)

**Your Answer:** *Write a complete sentence that addresses the question here.*